---
layout: post
title: {{ site.name }}
---

{%- assign prevDayNum = page.dayNum | minus:"1" -%}
{%- assign nextDayNum = page.dayNum | plus:"1" -%}

{%- assign prevDay = "/genesis/day" | append:prevDayNum | append:".html" -%}
{%- assign nextDay = "/genesis/day" | append:nextDayNum | append:".html" -%}
{%- assign sharing1 = "/genesis/day" | append:page.dayNum | append:"-zhuolin.html" -%}
{%- assign sharing2 = "/genesis/day" | append:page.dayNum | append:"-zhuolin2.html" -%}
{%- assign sharing3 = "/genesis/day" | append:page.dayNum | append:"-zhuolin3.html" -%}

{{ site.baseurl }}{{ sharing1 }}  
{{ site.baseurl }}{{ sharing2 }}  
{{ site.baseurl }}{{ sharing3 }}  
{{ site.posts }}


{%- capture linksTable -%}
<table style="width:100%; display: table;">
  <thead>
  <tr>
    {%- assign pageExists = site.posts | where: "url", prevDay | size -%}
    {%- if pageExists > 0 -%}
      <th><a href="{{ prevDay }}">《上一日</a></th>
    {%- else -%}
      <th>《上一日</th>
    {%- endif -%}
    {%- assign pageExists = site.posts | where: "url", nextDay | size -%}
    {%- if pageExists > 0 -%}
      <th><a href="{{ nextDay }}">下一日》</a></th>
    {%- else -%}
      <th>下一日》</th>
    {%- endif -%}
  </tr>
  </thead>
</table>
{%- endcapture -%}

<p>
    {{ linksTable }}
<p>

  
<div id="dailyContent">
<h2>{{ page.title }}</h2>

{{ content }}

  

{%- assign pageDate = page.date | "%Y-%m-%d" -%}
{%- assign sharings = site.posts | where: "categories", "sharing" -%}
{%- assign sharingsThisWeek = sharings | where: "weekNum", page.weekNum -%} 
{%- assign sharingsThisWeek = sharingsThisWeek | where: "cycle", page.cycle -%} 
  
<ul>
  {%- assign pageExists = site.posts | where: "url", sharing1 | size -%}
  {%- if pageExists > 0 -%}
    <li><a href="{{ site.baseurl }}{{ sharing1 }}">{{ post.title }}</a></li>
  {%- else %}
    <li>{{ sharing1 }}">{{ post.title }}</li>
  {%- endif -%}
  {%- assign pageExists = site.posts | where: "url", sharing2 | size -%}
  {%- if pageExists > 0 -%}
    <li><a href="{{ sharing2 }}">{{ post.title }}</a></li>
  {%- else %}
    <li>{{ sharing2 }}">{{ post.title }}</li>
  {%- endif -%}
  {%- assign pageExists = site.posts | where: "url", sharing3 | size -%}
  {%- if pageExists > 0 -%}
    <li><a href="{{ sharing3 }}">{{ post.title }}</a></li>
  {%- else %}
    <li>{{ sharing3 }}">{{ post.title }}</li>
  {%- endif -%}

  
  {%- for post in sharingsThisWeek -%}
  {%- assign isTemp = post.title | slice: -4,3 -%}
  {%- if post.date == pageDate and isTemp != "待更新" -%}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {%- if post.categories contains "Zhuolin" -%}
      {%- assign showWordPress = 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
  
</ul>
</div>

{% comment %} 
{%- include disqus.html -%}
{% endcomment %} 


{{ linksTable }}
