---
layout: post
title: {{ site.name }}
---

{%- if page.bookDayNum == 1 -%}
  {%- assign prevDayBook = page.bookPrev -%}
  {%- assign prevDayBookNum = page.bookPrevDayNum -%}
{%- else -%}
  {%- assign prevDayBook = page.book -%}
  {%- assign prevDayBookNum = page.bookDayNum | minus:"1" -%}
{%- endif -%}

{%- if page.bookDayNum == page.bookDayTotal -%}
  {%- assign nextDayBook = page.bookNext -%}
  {%- assign nextDayBookNum = 1 -%}
{%- else -%}
  {%- assign nextDayBook = page.book -%}
  {%- assign nextDayBookNum = page.bookDayNum | plus:"1" -%}
{%- endif -%}

{%- assign prevDay = "/" | append: prevDayBook | append: "/day" | append: prevDayBookNum | append:".html" -%}
{%- assign nextDay = "/" | append: nextDayBook | append: "/day" | append: nextDayBookNum | append:".html" -%}

{%- capture linksTable -%}
<table style="width:100%; display: table;">
  <thead>
  <tr>
    {%- assign pageExists = site.posts | where: "url", prevDay | size -%}
    {%- if pageExists > 0 -%}
      <th><a href="{{ prevDay }}">《上一日</a></th>
    {%- else -%}
      <th>《上一日</th>
    {%- endif -%}
    {%- assign pageExists = site.posts | where: "url", nextDay | size -%}
    {%- if pageExists > 0 -%}
      <th><a href="{{ nextDay }}">下一日》</a></th>
    {%- else -%}
      <th>下一日》</th>
    {%- endif -%}
  </tr>
  </thead>
</table>
{%- endcapture -%}

<p>
    {{ linksTable }}
<p>

<div id="dailyContent">
<h2>{{ page.title }}</h2>

{{ content }}

{%- assign pageDate = page.date | "%Y-%m-%d" -%}
{%- assign sharings = site.posts | where: "categories", "sharing" -%}
{%- assign sharingsThisWeek = sharings | where: "weekNum", page.weekNum -%} 
{%- assign sharingsThisWeek = sharingsThisWeek | where: "cycle", page.cycle -%} 
  
  <ul>
{%- for post in sharingsThisWeek -%}
  {%- assign isTemp = post.title | slice: -4,3 -%}
  {%- if post.date == pageDate and isTemp != "待更新" -%}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {%- if post.categories contains "Zhuolin" -%}
      {%- assign showWordPress = 1 -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
  
</ul>
</div>

{% comment %} 
{%- include disqus.html -%}
{% endcomment %} 


{{ linksTable }}
