---
layout: post
title: {{ site.name }}
---

{%- assign posts = site.posts | where: "weekNum", page.weekNum -%}
{%- assign posts2 = posts | where: "dayNum", page.dayNum -%}
{%- assign posts3 = posts2 | where_exp: "item", "item.language != 'English'" -%}
{%- assign dailyPage = posts3 | where: "categories", "daily" | first -%} 

<h3><a href="{{ dailyPage.url }}">{{ dailyPage.title }}</a></h3>

{%- if page.cycle == 2026 -%}
  {%- include BibleLinks2026.html -%}
{%- else -%}
  {%- if page.cycle == 2024 -%}
    {%- include BibleLinks2024.html -%}
  {%- else -%}
    {%- if page.cycle == 2022 -%}
      {%- include BibleLinks2022.html -%}
    {%- else -%}
      {%- if page.cycle == 2020 -%}
        {%- include BibleLinks2020.html -%}
      {%- else -%}
        {%- include BibleLinks.html -%}
      {%- endif -%}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}

<h3>{{ page.title }}</h3>

{%- assign weekday = page.date | date: "%w" | plus: 0 -%}
{%- assign weekdays_zh = "星期日,星期一,星期二,星期三,星期四,星期五,星期六" | split: "," -%}

<p class="meta">
  {{ weekdays_zh[weekday] }}，{{ page.date | date: "%Y年%m月%d日" }}
</p>

{{ page.content }}
